.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .desktop .card-grid-image {
    align-items: center;
    background: radial-gradient(50% 50% at 50% 50%, rgb(245, 245, 245) 0%, rgb(143, 143, 143) 100%);
    display: flex;
    flex-direction: column;
    gap: var(--size-space-1200);
    height: 181px;
    justify-content: center;
    left: 0;
    padding: var(--size-space-1600);
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .desktop .text-content-heading-instance {
    background-color: #ffffff05 !important;
    flex: 0 0 auto !important;
    margin-bottom: -28px !important;
    margin-top: -28px !important;
  }
  
  .desktop .design-component-instance-node {
    color: #3ac9dcf2 !important;
    font-family: "Balsamiq Sans-Bold", Helvetica !important;
    font-size: 64px !important;
    font-style: unset !important;
    font-weight: 700 !important;
    letter-spacing: 3.2px !important;
    line-height: 76.8px !important;
    text-align: center !important;
  }
  
  .desktop .top-bar {
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 5.91px #0000001f;
    display: inline-flex;
    gap: 19.69px;
    justify-content: center;
    left: 431px;
    padding: 19.69px;
    position: absolute;
    top: 199px;
  }
  
  .desktop .title {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 35.5px;
    margin-top: -0.98px;
    position: relative;
    width: 539px;
  }
  
  .desktop .frame {
    height: 460px;
    left: 506px;
    position: absolute;
    top: 453px;
    width: 470px;
  }
  
  .desktop .overlap {
    height: 459px;
    position: relative;
  }
  
  .desktop .frame-2 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    left: 159px;
    padding: 10px;
    position: absolute;
    top: 0;
  }
  
  .desktop .ellipse {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #000000;
    border-radius: 57px;
    height: 114px;
    position: relative;
    width: 114px;
  }
  
  .desktop .text-wrapper {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 123px;
    width: 121px;
  }
  
  .desktop .emojione-monotone {
    height: 64px !important;
    left: 35px !important;
    position: absolute !important;
    top: 35px !important;
    width: 64px !important;
  }
  
  .desktop .frame-3 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 114px;
  }
  
  .desktop .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 28px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 123px;
    width: 121px;
  }
  
  .desktop .twemoji-locked-with-key {
    left: 33px !important;
    top: 32px !important;
  }
  
  .desktop .overlap-group {
    height: 345px;
    left: 57px;
    position: absolute;
    top: 114px;
    width: 413px;
  }
  
  .desktop .frame-4 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    left: 279px;
    padding: 10px;
    position: absolute;
    top: 0;
  }
  
  .desktop .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 37px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 123px;
    width: 102px;
  }
  
  .desktop .twemoji-automobile-instance {
    left: 23px !important;
    top: 24px !important;
  }
  
  .desktop .overlap-2 {
    height: 288px;
    left: 108px;
    position: absolute;
    top: 57px;
    width: 305px;
  }
  
  .desktop .frame-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 128px;
    position: absolute;
    top: 133px;
    width: 141px;
  }
  
  .desktop .overlap-group-wrapper {
    align-self: stretch;
    height: 140px;
    position: relative;
    width: 100%;
  }
  
  .desktop .twemoji-exploding-wrapper {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #000000;
    border-radius: 57px;
    height: 114px;
    left: 10px;
    position: relative;
    top: 10px;
    width: 114px;
  }
  
  .desktop .twemoji-exploding-head {
    left: 17px !important;
    top: 7px !important;
  }
  
  .desktop .div-wrapper {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .desktop .frame-5 {
    height: 134px;
    position: relative;
    width: 134px;
  }
  
  .desktop .overlap-group-2 {
    height: 145px;
    left: 10px;
    position: relative;
    top: 10px;
    width: 141px;
  }
  
  .desktop .ellipse-2 {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #000000;
    border-radius: 57px;
    height: 114px;
    left: 0;
    position: absolute;
    top: 0;
    width: 114px;
  }
  
  .desktop .twemoji-plus-instance {
    left: 24px !important;
    top: 27px !important;
  }
  
  .desktop .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 113px;
    width: 141px;
  }
  
  .desktop .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 143px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 256px;
    width: 162px;
  }
  
  .desktop .frame-6 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    left: 0;
    position: absolute;
    top: 200px;
  }
  
  .desktop .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 113px;
    width: 121px;
  }
  
  .desktop .twemoji-money-bag-instance {
    left: 15px !important;
    top: 16px !important;
  }
  