.heading {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.07em;
  line-height: 77px;
  font-weight: 700;
  font-family: inherit;
  text-shadow: 3px 0 0#000, 0 3px 0#000, -3px 0 0#000, 0-3px 0#000;
}
.subheading {
  align-self: stretch;
  height: 24px;
  position: relative;
  font-size: 20px;
  line-height: 120%;
  font-family: Inter;
  color: #757575;
  text-align: left;
  display: flex;
  align-items: center;
}
.text-content-heading {
  width: 320px;
  background-color: rgba(255, 255, 255, 0.02);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  text-align: center;
  font-size: 64px;
  color: rgba(34, 183, 231, 0.95);
  font-family: "Balsamiq Sans";
}
.image-icon {
  height: 160px;
  width: 160px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-width: 160px;
}
.title {
  align-self: stretch;
  height: 29px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
}
.body-text-for,
.text {
  align-self: stretch;
  flex: 1;
}
.body-text-for {
  position: relative;
  font-size: 16px;
  line-height: 140%;
  color: #757575;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.star-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button1 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.x-icon {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  min-height: 16px;
}
.button,
.star-icon1,
.x-icon {
  overflow: hidden;
  display: none;
}
.button {
  height: 40px;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
  gap: 8px;
}
.star-icon1 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  min-height: 16px;
}
.button3 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.x-icon1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button2 {
  height: 40px;
  border-radius: 8px;
  background-color: #e3e3e3;
  border: 1px solid #767676;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 11px;
  gap: 8px;
  color: #1e1e1e;
}
.body,
.button-group,
.card {
  justify-content: flex-start;
  gap: 16px;
}
.button-group {
  width: 208px;
  display: none;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  color: #303030;
}
.body,
.card {
  height: 125px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 160px;
}
.card {
  height: 357px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 24px;
  gap: 24px;
  min-width: 240px;
  max-width: 100%;
}
.image-icon1 {
  height: 160px;
  width: 160px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-width: 160px;
}
.title1 {
  align-self: stretch;
  height: 29px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
}
.body-text-for1,
.text1 {
  align-self: stretch;
  flex: 1;
}
.body-text-for1 {
  position: relative;
  font-size: 16px;
  line-height: 140%;
  color: #757575;
}
.text1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.star-icon2 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button5 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.x-icon2 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  min-height: 16px;
}
.button4,
.star-icon3,
.x-icon2 {
  overflow: hidden;
  display: none;
}
.button4 {
  height: 40px;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
  gap: 8px;
}
.star-icon3 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  min-height: 16px;
}
.button7 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.x-icon3 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button6 {
  height: 40px;
  border-radius: 8px;
  background-color: #e3e3e3;
  border: 1px solid #767676;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 11px;
  gap: 8px;
  color: #1e1e1e;
}
.body1,
.button-group1,
.card1 {
  justify-content: flex-start;
  gap: 16px;
}
.button-group1 {
  width: 208px;
  display: none;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  color: #303030;
}
.body1,
.card1 {
  height: 125px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 160px;
}
.card1 {
  height: 357px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 24px;
  gap: 24px;
  min-width: 240px;
  max-width: 100%;
}
.image-icon2 {
  height: 160px;
  width: 160px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-width: 160px;
}
.title2 {
  align-self: stretch;
  height: 29px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
}
.body-text-for2,
.text2 {
  align-self: stretch;
  flex: 1;
}
.body-text-for2 {
  position: relative;
  font-size: 16px;
  line-height: 140%;
  color: #757575;
}
.text2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.star-icon4 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button9 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.x-icon4 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  min-height: 16px;
}
.button8,
.star-icon5,
.x-icon4 {
  overflow: hidden;
  display: none;
}
.button8 {
  height: 40px;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
  gap: 8px;
}
.star-icon5 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  min-height: 16px;
}
.button11 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.x-icon5 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button-group2,
.button10 {
  flex-direction: row;
  align-items: center;
}
.button10 {
  height: 40px;
  border-radius: 8px;
  background-color: #e3e3e3;
  border: 1px solid #767676;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 12px 11px;
  gap: 8px;
  color: #1e1e1e;
}
.button-group2 {
  width: 208px;
  display: none;
  gap: 16px;
  font-size: 16px;
  color: #303030;
}
.body2,
.button-group2,
.card2,
.cards {
  justify-content: flex-start;
}
.body2 {
  height: 125px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  min-width: 160px;
}
.card2,
.cards {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}
.card2 {
  height: 357px;
  flex: 1;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  min-width: 240px;
}
.cards {
  width: 1072px;
  display: none;
  align-items: center;
  gap: 48px;
}
.image-icon3 {
  height: 160px;
  width: 160px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-width: 160px;
}
.title3 {
  align-self: stretch;
  height: 29px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
}
.body-text-for3,
.text3 {
  align-self: stretch;
  flex: 1;
}
.body-text-for3 {
  position: relative;
  font-size: 16px;
  line-height: 140%;
  color: #757575;
}
.text3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.star-icon6 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button13 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.x-icon6 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  min-height: 16px;
}
.button12,
.star-icon7,
.x-icon6 {
  overflow: hidden;
  display: none;
}
.button12 {
  height: 40px;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
  gap: 8px;
}
.star-icon7 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  min-height: 16px;
}
.button15 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.x-icon7 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button-group3,
.button14 {
  flex-direction: row;
  align-items: center;
}
.button14 {
  height: 40px;
  border-radius: 8px;
  background-color: #e3e3e3;
  border: 1px solid #767676;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 12px 11px;
  gap: 8px;
  color: #1e1e1e;
}
.button-group3 {
  width: 208px;
  display: none;
  justify-content: flex-start;
  gap: 16px;
  font-size: 16px;
  color: #303030;
}
.body3,
.card3 {
  align-items: flex-start;
  justify-content: flex-start;
}
.body3 {
  height: 125px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 160px;
}
.card3 {
  align-self: stretch;
  width: 325px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 24px;
  gap: 24px;
  min-width: 240px;
  max-width: 100%;
}
.image-icon4 {
  height: 160px;
  width: 160px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-width: 160px;
}
.title4 {
  align-self: stretch;
  height: 29px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
}
.body-text-for4,
.text4 {
  align-self: stretch;
  flex: 1;
}
.body-text-for4 {
  position: relative;
  font-size: 16px;
  line-height: 140%;
  color: #757575;
}
.text4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.star-icon8 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button17 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.x-icon8 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  min-height: 16px;
}
.button16,
.star-icon9,
.x-icon8 {
  overflow: hidden;
  display: none;
}
.button16 {
  height: 40px;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
  gap: 8px;
}
.star-icon9 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  min-height: 16px;
}
.button19 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.x-icon9 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button-group4,
.button18 {
  flex-direction: row;
  align-items: center;
}
.button18 {
  height: 40px;
  border-radius: 8px;
  background-color: #e3e3e3;
  border: 1px solid #767676;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 12px 11px;
  gap: 8px;
  color: #1e1e1e;
}
.button-group4 {
  width: 208px;
  display: none;
  justify-content: flex-start;
  gap: 16px;
  font-size: 16px;
  color: #303030;
}
.body4,
.card4 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.body4 {
  height: 125px;
  flex-direction: column;
  gap: 16px;
  min-width: 160px;
}
.card4 {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 22px 23px;
  gap: 24px;
  min-width: 240px;
  max-width: 100%;
}
.image-icon5 {
  height: 160px;
  width: 160px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-width: 160px;
}
.title5 {
  align-self: stretch;
  height: 29px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
}
.body-text-for5,
.text5 {
  align-self: stretch;
  flex: 1;
}
.body-text-for5 {
  position: relative;
  font-size: 16px;
  line-height: 140%;
  color: #757575;
}
.text5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.star-icon10 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button21 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.x-icon10 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  min-height: 16px;
}
.button20,
.star-icon11,
.x-icon10 {
  overflow: hidden;
  display: none;
}
.button20 {
  height: 40px;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
  gap: 8px;
}
.star-icon11 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  min-height: 16px;
}
.button23 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.x-icon11 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button22 {
  height: 40px;
  border-radius: 8px;
  background-color: #e3e3e3;
  border: 1px solid #767676;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 11px;
  gap: 8px;
  color: #1e1e1e;
}
.body5,
.button-group5 {
  justify-content: flex-start;
  gap: 16px;
}
.button-group5 {
  width: 208px;
  display: none;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  color: #303030;
}
.body5 {
  height: 125px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 160px;
}
.card-grid-image,
.card5,
.cards1 {
  flex-direction: row;
  max-width: 100%;
}
.card5 {
  flex: 1;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 22px 23px;
  gap: 24px;
  min-width: 240px;
}
.card-grid-image,
.cards1 {
  gap: 48px;
}
.cards1 {
  width: 1072px;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  min-height: 357px;
}
.card-grid-image {
  align-self: stretch;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(231, 239, 244, 0.01) 39%,
    #8f8f8f
  );
  border: 3px solid #979797;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 32px 20px;
  text-align: left;
  font-size: 24px;
  color: #1e1e1e;
  font-family: Inter;
}
.title6 {
  align-self: stretch;
  position: relative;
  line-height: 36px;
  font-weight: 500;
}
.circle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
  border: 0 solid #000;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.emojione-monotonebust-in-silh-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 64px;
  height: 64px;
  overflow: hidden;
  z-index: 1;
}
.shape {
  height: 114px;
  flex: 1;
  position: relative;
}
.circle1,
.item {
  box-sizing: border-box;
}
.item {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 18px;
}
.circle1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
  border: 0 solid #000;
  width: 100%;
  height: 100%;
}
.twemojilocked-with-key-icon {
  position: absolute;
  top: 22px;
  left: 23px;
  width: 76px;
  height: 70px;
  z-index: 1;
}
.secure {
  width: 114px;
  height: 114px;
  position: relative;
}
.secure1 {
  height: 32px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.lock-icon,
.name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lock-icon {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 18px;
}
.name {
  flex: 1;
  flex-direction: column;
  min-width: 90px;
}
.personal {
  height: 32px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.label1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 5px;
}
.circle2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
  border: 0 solid #000;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.twemojiplus-icon {
  position: absolute;
  top: 27px;
  left: 24px;
  width: 65px;
  height: 60px;
  z-index: 1;
}
.add-icon {
  width: 114px;
  height: 114px;
  position: relative;
}
.add {
  width: 126px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  min-width: 126px;
}
.add,
.item-parent,
.label {
  display: flex;
  justify-content: flex-start;
}
.label {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 26px;
}
.item-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.details1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 15px 0 0;
}
.circle3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
  border: 0 solid #000;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.twemojimoney-bag-icon {
  position: absolute;
  top: 16px;
  left: 15px;
  width: 85px;
  height: 82px;
  z-index: 1;
}
.icon {
  align-self: stretch;
  height: 114px;
  position: relative;
}
.detail {
  width: 114px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 19px 0 0;
  box-sizing: border-box;
}
.add-category {
  height: 32px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.detail-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.the-bag {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.details,
.frame-parent,
.label2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.label2 {
  width: 161px;
  flex-direction: row;
  padding: 0 20px;
  box-sizing: border-box;
}
.details,
.frame-parent {
  flex-direction: column;
}
.details {
  flex: 1;
  align-items: flex-end;
  min-width: 199px;
}
.circle4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
  border: 0 solid #000;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.twemojiautomobile-icon {
  position: absolute;
  width: calc(100% - 27px);
  top: 14px;
  right: 14px;
  left: 13px;
  max-width: 100%;
  overflow: hidden;
  height: 68px;
  z-index: 1;
}
.car-icon,
.my-v {
  position: relative;
}
.car-icon {
  width: 114px;
  height: 114px;
}
.my-v {
  height: 32px;
  flex: 1;
  display: inline-block;
}
.category1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 27px;
}
.car-icon-parent,
.category1,
.items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.car-icon-parent {
  flex: 1;
  flex-direction: column;
}
.items {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 38px;
}
.empty-icon {
  height: 140px;
  width: 141px;
  position: absolute;
  margin: 0 !important;
  top: -124px;
  left: -15px;
}
.did-you-know {
  flex: 1;
  position: relative;
  z-index: 1;
}
.categories,
.information,
.item1 {
  display: flex;
  align-items: flex-start;
}
.information {
  width: 162px;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.categories,
.item1 {
  flex-direction: column;
}
.item1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: 158px;
}
.categories {
  width: 167px;
  justify-content: flex-end;
  padding: 0 0 8px;
  box-sizing: border-box;
  min-width: 167px;
  margin-left: -8px;
}
.details-parent {
  width: 465px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
}
.category,
.icon-block {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.icon-block {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 29px;
  box-sizing: border-box;
  font-family: Inter;
}
.category {
  width: 539px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 78.7px;
}
.category-wrapper,
.desktop-1 {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}
.category-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  max-width: 100%;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Roboto;
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #000;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 208px;
  gap: 68.7px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .heading {
    font-size: 51px;
    line-height: 61px;
  }
  .desktop-1 {
    gap: 34px;
  }
}
@media screen and (max-width: 675px) {
  .categories,
  .item-parent {
    flex: 1;
  }
  .details-parent {
    flex-wrap: wrap;
  }
  .category {
    gap: 39px;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: 38px;
    line-height: 46px;
  }
  .subheading {
    font-size: 16px;
    line-height: 19px;
  }
  .title,
  .title1,
  .title2,
  .title3,
  .title4,
  .title5 {
    font-size: 19px;
    line-height: 23px;
  }
  .card-grid-image {
    gap: 24px;
  }
  .title6 {
    line-height: 28px;
  }
  .personal,
  .secure1,
  .title6 {
    font-size: 16px;
  }
  .add {
    flex: 1;
  }
  .label {
    flex-wrap: wrap;
  }
  .add-category,
  .did-you-know,
  .my-v,
  .the-bag {
    font-size: 16px;
  }
  .categories {
    margin-left: 0;
  }
  .category {
    gap: 20px;
  }
  .desktop-1 {
    gap: 17px;
  }
}
